<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>

        <%# 部分テンプレートでフォームを表示する %>
        <%= render partial: "form", locals: { prototype: @prototype } %>
        <%# render partial: "◯◯◯◯"で、_◯◯◯◯の部分テンプレートを呼び出せる。ディレクトリが異なる場合は/で階層を区切って記述する。 %>
        <%# localsというオプションを付けることで、部分テンプレート内でその変数を使えるようになるよ。%>
    </div>
  </div>
</div>